/* CreateAccountSolana.css */
.create-account-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex:0;
  /* min-height: 100vh; */
  /* background: linear-gradient(135deg, #1e3c72, #2a5298); */
  font-family: 'Poppins', sans-serif;
}

.container {
  padding: 40px;
  width: 100%;
  max-width: 400px;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 16px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  text-align: center;

}

.title {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 30px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.subtitle {
  font-size: 1.5rem;
  color: #444;
  margin-bottom: 20px;
}

.mnemonic-section {
  margin-top: 20px;
}

.mnemonic {
  font-family: monospace;
  background: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  word-break: break-word;
  margin-bottom: 20px;
  color: #2c3e50;
}

.btn-generate,
.btn-continue {
  width: 100%;
  padding: 15px;
  font-size: 1.2rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 15px;
}

.btn-generate {
  background-color: #ff6f61;
  color: white;
}

.btn-generate:hover {
  background-color: #e55b4f;
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.btn-continue {
  background-color: #2ecc71;
  color: white;
}

.btn-continue:hover {
  background-color: #27ae60;
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.btn-back {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-back:hover {
  background-color: #2980b9;
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
