.Eth-Wallet{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 500px;
}
.ethereum-wallet-page {
  display: flex;
  flex-direction: column;
  align-items:center;
  padding: 100px;
  min-height: 100px;
  margin: 50px;
  position: relative;
  box-sizing: border-box;
  width: 100%;
}

.back-button-container {
  position: left;
}

.btn-back {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-back:hover {
  background-color: #2980b9;
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.account-network-container {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  max-width: 100px; 
  height: 150px; 
  margin: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.account-network-container:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.account-selection,
.network-selection {
  width: 150%; 
  display: flex;
  
  flex-direction: column;
  justify-content: center;
}

h2 {
  margin-bottom: 15px;
  font-size: 1.2rem;
  color: #333;
}

.form-control {
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid #ced4da;
  padding: 10px;
  font-size: 1rem;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s ease;
}




.account-details {
  padding: 15px;
  background: #f7f9f9 ;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 135%;
  box-sizing: border-box;
  font-size: 20px;
}

.wallet-balance-section {
  padding: 15px;
  background: linear-gradient(135deg, #f8f9fa, #e9ecef);
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
  width: 135%;
  box-sizing: border-box;
  font-size: 20px;
  margin-top: 20px;
}
.btn-primary{
  border-radius: 8px;
  padding: 10px;
  font-size: 20px;
  width: 100%;
  margin-bottom: 10px;
}
.btn-info {
  border-radius: 8px;
  padding: 10px;
  font-size: 15px;
  width: 30%;
  margin-bottom: 10px;
}

.btn-primary:hover, .btn-info:hover {
  transform: scale(1.05);
}
